html {
  height: 100%;
  margin: auto;
  background-color: #1e1e1e;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px;
  background-color: #373737;
	font-weight: normal;
	color: white;
	margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 50vw;
  text-align: center;
}

body,
button,
.btn {
  font-family: 'Geogrotesque Rg', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

div {
  margin-top: 25px;
  margin-bottom: 25px;
}


h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Geogrotesque SmBd', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

ol {
  text-align: left;
}
li {
  padding: 10px;
}

button,
.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;

  text-decoration: none;
  color: #fff;
  background: #58B0E3;

  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

button:hover,
.btn:hover {
  background-color: #FAA61A;
  color: #373737;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

button.input-helper,
.btn.input-helper {
  background-color: rgb(190,190,190);
  border-color: rgb(190,190,190);
  color: rgb(110,110,112);
  margin-left: 3px;
}

button:disabled,
.btn:disabled {
  background-color: rgb(190,190,190);
  border-color: rgb(190,190,190);
  color: white;
}

input[type='text'], input[type='password']{
  background-color: white;
  color: rgb(110,110,112);
  border-color: white;
  border-radius: 5px;
  height: 25px;
  text-align: center;
  font-size: 15px;
}

input:disabled {
  background-color: rgb(190,190,190);
  border-color: rgb(190,190,190);
}

input[type='radio']{
  position: relative;
  bottom: -0.33em;
  margin:0;
  border:0;
  height: 1.5em;
  width: 15%;
}

label {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 5%;
  display: inline-block;
  width: 80%;
  text-align: left;
}

input[type='radio']:checked+label {
  font-weight: bold;
  color: #58B0E3;
}

a {
  color: #58B0E3;
}

a:hover,
a:active
a:focus {
  color: #FAA61A;
}

.scanning-error {
  font-weight: bold;
  text-align: center;
}

.radio-div {
  box-sizing: border-box;
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  width: 100%;
  padding: 5px;
}

#networks-div {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#device-id {
  text-align: center;
}

#scan-button {
  min-width: 100px;
}

#connect-button {
  display: block;
  min-width: 100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#password{
  margin-top: 20px;
  margin-bottom: 10px;
}

